echo "# vocabulary-pracitce" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/raakstmeer/vocabulary-pracitce.git
git push -u origin main

edit on gitignore just check
